html {

}

body {
    background: black;
    background-image:url("https://apod.nasa.gov/apod/image/1810/NGC6543-BYU-L.jpg");
    background-size: 100% 100%;

    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    height: 100vh;
}

img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif !important;
  color: white;
}

h1 {
  font-size: 6em;
  font-weight: bold;
}

h2 {
  font-size: 3em;
  font-weight: bold;
}

h3 {
    font-size: 1.4em;
}

#wrapper {
  margin: -5% 0 0 0;
}

#quote {
  margin: 2% 15vw -5% 15vw;;
}

.ytplayer {
position: absolute;
position: absolute; float: left; clear: both; width: 100%; height: 100%; z-index: 0; left no-repeat;
}


#main-text {
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
    position: relative;
    z-index: 100;
}

.content{
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
    position: relative;
    z-index: 100;
}

.background{
color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}


#time {
  margin: -10% 0 5% 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif !important;
  color: white;
}

h1 {
  font-size: 6em;
  font-weight: bold;
}

h2 {
  font-size: 3em;
  font-weight: bold;
}

h3 {
    font-size: 1.4em;
}

#wrapper {
  margin: -5% 0 0 0;
}

#quote {
  margin: 2% 15vw -5% 15vw;;
}

#welcome-text, #time-text {
  font-family: "Raleway", sans-serif !important;
}